VITE_SUPABASE_URL=https://cxdjreytxsjnfikosoxi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_QFsXxKvtu-qOSGlwiBhbCg_pwya4i3L

VITE_API_BASE_URL=http://127.0.0.1:8001
# For local development you can also use: http://127.0.0.1:8002